@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
}
body{
    background-color: white;
}
.gridFilms{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.filmCard{
    position: relative;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 rgb(0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0)), var(--tw-shadow);
}
.filmTitle{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(11, 11, 11, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    padding-top: 50%;
    text-align: center;
    transition: opacity .2s, visibility .2s;
}
.filmCard:hover .filmTitle {
    visibility: visible;
    opacity: 1;
}



.carousel-container, .carousel-container2 {
    width: 80%;
    margin: 50px auto;
    position: relative;
}
.inner-carousel {
    overflow: hidden;
}
.carousel-track, .carousel-track2 {
    display: inline-flex;
    transition: transform 0.2s ease-in-out;
}
.card-container {
    flex-shrink: 0;
    padding-right: 10px;
}

.nav button {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.nav .prev {
    left: -60px;
    display: none;
}

.nav .next {
    right: -60px;
}
.nav .prev2 {
    left: -60px;
    display: none;
}

.nav .next2 {
    right: -60px;
}

.card{
    width: 14vw;
    position: relative;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 rgb(0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0)), var(--tw-shadow);
}
.card:hover .filmTitle {
    visibility: visible;
    opacity: 1;
}



.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
}
.dropdown-content-genre{
    position: absolute;
    background-color: #f1f1f1;
    min-width: 50vw;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 3%;
    text-decoration: none;
    display: block;
}
.dropdown a:hover{
    background-color: #ddd;
}
.show {
    display: block;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
}
.search-h2{
    font-size: xx-large;
    color: theme('colors.yellow');
    padding: 3% 0;
    font-weight: bold;
    text-align: center;
}
#search-bar{
    height: 10vh;
    padding: 1.5rem;
    border: 2px solid black;
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.search-result{
    background-image: linear-gradient(90deg, white 0%, darkgrey 39%, darkgrey 61%, white 100%);
}
.search-result .searchGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: auto;
    justify-content: space-evenly;
    justify-items: center;
    padding-bottom: 5%;
}

.search-result .search-filmCard{
    width: 30vw;
    margin: 2%;
    padding: 3%;
    border: 3px solid theme('colors.grey');
}
@media (max-width: 715px){
    .search-result .search-filmCard{
        width: 80vw;
    }
}
.search-result .search-filmCard a{
    display: flex;
    align-items: center;
}
.search-result .search-filmCard:hover{
    box-shadow: 4px 4px 10px -1px rgba(0,0,0,0.5);
}
.search-result .search-filmCard h3{
    font-size: large;
    margin-left: 3%;
}
.search-result img{
    width: 7vw;
}

.addMovieBtn{
    text-align: -webkit-right;
}

.allProfilGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
