@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
}
body{
    background-color: white;
}
.filmCard{
    position: relative;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 rgb(0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0)), var(--tw-shadow);
}
.filmTitle{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(11, 11, 11, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    padding-top: 100%;
    text-align: center;
    transition: opacity .2s, visibility .2s;
}
.filmCard:hover .filmTitle {
    visibility: visible;
    opacity: 1;
}